.container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.div-itens-sistema {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 10px;
}

.div-itens {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* TOP AREA*/
.topArea {
  display: flex;
  gap: 5px;
  padding-left: 3px;
  padding-top: 3px;
  width: 100%;
}

/* Card moderno */
.select-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  min-width: 50px;
  height: 60px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background: linear-gradient(
    135deg,
    rgba(63, 71, 115, 0.7),
    rgba(30, 35, 70, 0.6)
  );
  backdrop-filter: blur(12px);

  color: #ffffff;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.3s ease;
}
/* Hover elegante */
.select-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* VARIAÇÕES DE CORES DOS CARDS */
.select-card-blue {
  background: linear-gradient(135deg, #4da3ff, #1e3a8a);
}

.select-card-green {
  background: linear-gradient(135deg, #34d399, #065f46);
}

@media (max-width: 768px) {
  .card {
    display: block;
  }
}

/* INICIO Minhas Escalas*/
/* ===== HEADER MINHAS ESCALAS ===== */
.header-escalas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 8px;
}

.titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  color: #444;
}

.tituloProximas {
  font-size: 14px;
  color: #444;
  margin-left: 11px;
}

.badge {
  background: #e5e7eb;
  color: #444;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.ver-todas {
  color: #4f46e5;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

/* ===== CARD ESCALA ===== */
.card-escala {
  background: #e1e8f5;
  border-radius: 16px;
  padding: 14px;
  cursor: pointer;
  margin-right: 1px;
  width: 100%;
  transition: all 0.2s ease;
}

.card-escala:hover {
  transform: scale(1.01);
}

.top-card {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #555;
}

.nome-escala {
  font-size: 14px;
  font-weight: 700;
  margin-top: 6px;
}

.tempo {
  color: #777;
  font-size: 10px;
  margin-bottom: 8px;
}

/* ===== AVATARES SOBREPOSTOS ===== */
.avatares {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatares img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: -10px;
}

.avatar-fallback {
  border-radius: 20px;
  width: 32px;
  height: 32px;
  border: solid 2px #5b6063;
  background-color: #ffffff;
  color: #5b6063;
  align-items: center;
  display: flex;
  padding: 4px;
  justify-content: center;
  margin-left: -10px;
}

.avatares img:first-child {
  margin-left: 0;
}

.mais {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #e0e7ff;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
  font-weight: 600;
}

/* ===== LINHA ===== */
.linha {
  height: 1px;
  background: #ddd;
  margin: 8px 0;
}

/* ===== RODAPÉ ===== */
.rodape-card {
  display: flex;
  gap: 18px;
  font-size: 14px;
  color: #555;
}

@media (max-width: 768px) {
  /* ===== RODAPÉ MOBILE ===== */
  .rodape-card {
    gap: 5px;
    font-size: 10px;
    color: #555;
  }
}

/* FIM Minhas Escalas*/

/* div Pagamentos*/
.pagamentos {
  display: flex;
  gap: 1px;
  padding-left: 3px;
  padding-top: 3px;
  width: 100%;
  background-color: #f9f9fa;
  border-radius: 10px;
}

/* lado esquerdo */
.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* ícones */
.icon {
  font-size: 40px;
}

/* hover premium */
.card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

/* clique */
.card:active {
  transform: scale(0.97);
}

/* ===== ITEM ESTILO NOTIFICAÇÃO ===== */
.pay-item {
  width: 100%;
  height: 16px;
  min-height: 40px;
  border-radius: 18px;
  padding: 5px 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #1c0505;
}

/* Lado esquerdo */
.pay-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Ícone redondo igual da imagem */
.pay-icon-diaria {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #34d399, #065f46);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.pay-icon-pjes {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #76aafd, #063e5f);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

/* Textos */
.pay-texts {
  display: flex;
  flex-direction: column;
}

.pay-title {
  font-weight: 700;
  font-size: 17px;
}

.pay-sub {
  font-size: 12px;
  color: #979797;
}

/* Lado direito (badge) */
.pay-right {
  display: flex;
  align-items: center;
}

.pay-badge {
  background: #e9e9e9;
  color: #041f18;
  font-weight: 700;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 20px;
}
